@font-face {
    font-family: Ubuntu Mono;
    src: url('ubuntumono-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
code { font-family:"Ubuntu Mono", monospace; }
.sourceCode { font-family:"Ubuntu Mono", monospace; }
blockquote { font-size: larger;}
thead {
    font-weight: bold;
    font-size: 120%;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}
body { }
h1 { font-size: larger;}
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }
h1.title { }
h2.author { }
h3.date { }
ol.toc {  }
ol.toc li {  }
a.footnoteRef {  }
